.visi-misi {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-breakpoint-down(md) {
        height: unset;
        width: 100%;
    }
    h3 {
        border-bottom: 1px solid #000;
        width: 6rem;
        font-size: 2.8rem;
        @include media-breakpoint-down(md) {
            width: 4.5rem;
            font-size: 2.3rem;
        }
    }
    p {
        font-weight: 450;
        font-size: 1.2rem;
    }
}
