DirectoryIndex index.php
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L,NC]

RewriteRule .* - [E=noabort:1]
RewriteRule .* - [E=noconntimeout:1]

</IfModule>
