.footer{
    margin-top: 100px;
    color: #0C0D36;
    .row{
        .col-md-4{
            .list-unstyled{
                li{
                    a{
                        color: #0C0D36;
                    }
                }
            }
        }
    }
}
